
@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  text-align: center;
  background-color: #2e005c;
  a, p {
    font-family: $cascadia-code;
    font-size: 12px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.726);
  }
}