@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.experience {

  .header {

    p {
      font-family: $cascadia-code;
      color: $white;
      font-size: 16px;
      -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	    animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      
      b {
        font-family: $cascadia-code;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  
  .content {
    p {
      font-family: $cascadia-code;
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      -webkit-animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	    animation: text-focus-in 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      
    }

    
  
    ul {
      list-style: none;
      padding: 0;
      li {
        position: relative;
        padding-left: 20px;
        margin: 24px 0;

        b {
          font-family: $cascadia-code;
          color: rgba(255, 255, 255, 0.699);
        }
        &::before {
          content: "▹";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          color: $rose;
          line-height: 12px;
          font-size: 24px;
        }
      }
    }
  }
}
