@import '../modules/var';

* {
  font-family: $fjalla-one;
}

.link-1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-decoration: none;
  line-height: 30px;
}

p {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}