@import '../../../styles/scss/modules/var';
@import '../../../styles/scss/modules/mixins';

.tab_experience {
  overflow: hidden;
  h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    color: $rose;
    font-size: 40px;
  }
  .tabs {
    display: flex;
    gap: 24px;
    min-height: 350px;

    @include media('mobile') {
      flex-direction: column;
    }
  }

  .container {
    max-width: 1160px;
    padding: 0 30px;
    padding-bottom: 3rem;
  }

  .header_buttons {
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('mobile') {
      flex-direction: row;
      justify-content: space-between;
    }

    &::before {
      content: '';
      height: 100%;
      min-height: 350px;
      width: 2px;
      background-color: $white;
      position: absolute;

      @include media('mobile') {
        width: 100%;
        min-width: 350px;
        min-height: 2px;
        height: 2px !important;
        bottom: 0;
      }
    }
    
    .tab_button {
      min-width: 150px;
      background-color: transparent;
      border: none;
      color: $white;
      padding: 12px 30px 12px 12px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-align: left;
      // transition: border-color .3s ease-in-out;
      // border-bottom: 2px solid transparent;
      // border-left: 3px solid transparent;
      &::before {
        content: '';
        position: absolute;
        background-color: $rose;
        height: 0%;
        width: 3px;
        bottom: 0;
        left: 0;
        transition: all .4s;
      }

      &::after {
        content: '';
        position: absolute;
        background-color: $rose;
        height: 3px;
        bottom: 0;
        left: 0;
        width: 0%;
        transition: all .4s;
        // box-shadow:  0 -50px $rose;
      }
    
      &.active {
        border-color: $rose;
        border-left-color: $rose;
        border-bottom-color: $rose;
        &::after {
          width: 100%;
        }
        &::before {
          height: 100%;
        }
      }
  

      @include media('mobile') {
        padding: 12px 20px 12px 12px;
        min-width: 80px;

        &::before {
          height: 0 !important;
        }

        &::after {
          left: 50%;
        }

        &.active {
          &::after {
            left: 0;
          }
        }
      }
    }
  }
}