@import '../../../styles/scss/modules/var';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  position: absolute;
  right: 0;
  left: 0;

  nav {
    display: flex;
    padding-right: 76px;
    align-items: center;
    gap: 68px;
  }

  .logo {
    padding-left: 25px;
  }

  .menu {
    display: flex;
    list-style: none;
    gap: 30px;

    a {
      color: $white;
    }

  }
}